.desktop {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 60px;
}

.start,
.end {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
}

.logo {
  transition: 0.5s;
  margin-right: 10px;
  flex-grow: 1;
  height: 40px;
}

.logo a {
  height: 100%;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  transition: 0.5s;
  padding: 0 10px;
  border-radius: 10px;

  &:hover {
    background-color: #f2f2f2;
  }
}

.logo p {
  font-family: "Montserrat";
  font-weight: 350;
  transition: 0.5s;
}

.logo:hover p {
  background-color: #f2f2f2;
}

.logo img {
  margin-right: 10px;
  width: 30px;
  border-radius: 5px;
}

.anuncie {
  font-family: "Montserrat";
  font-weight: 200;
  margin-right: 90px;
}

.anuncie a {
  transition: 0.5s;
  height: 35px;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  transition: 0.5s;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 0.9em;
}

.anuncie:hover a {
  background-color: #f2f2f2;
}

.start li:first-child {
  flex-direction: start;
  margin: 0 0 0 50px;
}

.end {
  margin-right: 50px;
}

.end li {
  margin-right: 10px;
}

button {
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}

.login button,
.sub button {
  font-family: "Poppins";
  padding: 8px 20px;
}

.login button {
  background-color: #f9fafb;
  border: 1px solid #e0dfdf;
  box-shadow: 0px 1px 2px #ccc;

  &:hover {
    background-color: #f2f2f2;
  }
}

.sub button {
  border: 1px solid #ffce04;
  background-color: #ffce04;
}

.hamb_menu {
  display: flex;
  align-items: center;
  height: 100%;
}

.hamb_menu img {
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  width: 30px;
}

@media (max-width: 992px) {
  .logo p {
    display: none;
  }

  .logo img {
    margin: 0 30px 0 10px;
  }

  .anuncie {
    margin-left: -20px;
    width: 100px;
  }

  .anuncie a {
    white-space: nowrap;
    padding-right: 110px;
    font-size: 0.8em;
  }

  .anuncie:hover a {
    margin: 0;
  }

  .desktop {
    display: flex;
    justify-content: space-between;
  }

  .start {
    margin-left: -40px;
  }

  .logo_img {
    margin-right: -25px;
  }

  .logo a:hover {
    background-color: transparent;
    margin: 0;
  }

  .login button {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .anuncie a:hover {
    background-color: #f2f2f2;
  }

  .login button,
  .sub button {
    padding: 7px 15px 7px 15px;
  }
}

@media (max-width: 580px) {
  .anuncie {
    display: none;
  }

  .desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 10px;
    gap: 0;
  }

  .start,
  .end {
    display: flex;
    align-items: center;
    gap: 5px;
    width: auto;
  }

  .end {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .end li {
    margin: 2.5px;
  }

  .logo {
    display: flex;
    align-items: center;
    margin: 0;
    flex-grow: 0;
  }

  .logo a {
    margin-right: 30px;
  }

  .logo img {
    position: absolute;
    width: 35px;
    margin-right: 0 5px 0 0;
  }

  .login button,
  .sub button {
    width: auto;
    padding: 6px 12px;
    margin: 0;
  }

  .hamb_menu {
    width: 25px;
  }

  .logo a:hover {
    background-color: transparent;
    margin: 0;
  }
}
