body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111827;
}

h2 {
  background-color: transparent;
  font-size: 3em;
  color: #ffd000;
}

.logo_img {
  background-color: transparent;
  width: 150px;
  margin-bottom: 15px;
}

.prog {
  background-color: transparent;
  font-size: 0.8em;
  color: #888f9b;
  margin-bottom: 25px;
}

.btn button {
  width: 400px;
  height: 65px;
  border-radius: 5px;
  background-color: #ffd000;
  border: none;
  transition: 0.5s;

  &button:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
}
