* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #111827;
}

.container {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 3em;
  color: #ffd000;
}

.logo_img {
  width: 150px;
  margin-bottom: 15px;
}

.prog {
  font-size: 0.8em;
  color: #888f9b;
  margin-bottom: 25px;
}

.btn button {
  width: 200px;
  border-radius: 5px;
  background-color: #ffd000;
  /* align-items: center; */
}
